#movielist{
    overflow-x: scroll;
    scroll-behavior: auto;
    overflow: hidden;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 10px solid black;
    border-top: 5px solid black;
    border-radius: 50px;
    background-image: linear-gradient(
        to right,
        black,

        rgba(255, 0, 13, 0.6),
        rgba(255, 0, 13, 0.6),
        rgba(255, 0, 13, 0.6),

        black,
    );
}

#movielist:hover{
    cursor: pointer;
}


.jeri-flix{
    color: steelblue;
}

