@import '~bootstrap/scss/bootstrap.scss';

.ProfilePicture{
    max-width: 225px;
    max-height: 300px;
    border-radius: 50%;
}

.PreviewPicture{
    width:65%;
    border-radius:50%;
}

.profile-title{
    text-align: center;
}

.pictureChoice{
    max-width: 125px;
    max-height: 150px;
}