@import '~bootstrap/scss/bootstrap.scss';
.profile-title{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.card-body .ProfilePicture{
    border-radius: 50%;
    max-width: 225px;
    max-height: 300px;
}

.col .PreviewPicture{
    width:80%;
    border-radius:50%;
    float: right;
}