$primary: rgb(0, 0, 0);
$body-bg: Honeydew;

@import '~bootstrap/scss/bootstrap.scss';

$color: steelblue;


.login-form{
    margin: 20px 0;
}

.navbar{
    font-size: 120%;
    font-weight: bold;
    background-image: linear-gradient(
        to right, 
        rgba(255, 0, 13, 0.6),
        rgba(38, 146, 189, 0.6),
        rgba(38, 146, 189, 0.6), 
        rgba(38, 146, 189, 0.6),
        rgba(255, 0, 13, 0.6),
    );
    opacity: .5;
    transition: opacity 1s ease;
}

.navbar:hover{
    opacity: 1;
}

body{
    background-image: linear-gradient(
        to right, 
        rgba(255, 0, 13, 0.6),
        rgba(38, 146, 189, 0.6),
        rgba(38, 146, 189, 0.6), 
        rgba(38, 146, 189, 0.6),
        rgba(255, 0, 13, 0.6),
    );

    overflow-x: hidden;
}

button{
    transition: all .3s;
    background-image: linear-gradient(
        to right, 
        rgba(0, 38, 255, 0.822),
        rgba(0, 217, 255, 0.822),
        rgba(0, 217, 255, 0.822),
        rgba(0, 0, 0, 0.6),
    );
}

button:hover{
    cursor: pointer;
    opacity: .8;
    transform: scale(1.2);
    z-index: 10000;
}

button:active{
    transform: scale(1);
}




