$color: steelblue;

.jeri-flix{
    color: $color;
}

body{
    background-image: linear-gradient(
        to right, 
        rgba(255,255,0,.6),
        rgba(38, 146, 189, 0.6),
        rgba(38, 146, 189, 0.6), 
        rgba(38, 146, 189, 0.6),
        rgba(255,255,0,.6),
    );
}

button{
    transition: all .3s;
}

button:hover{
    cursor: pointer;
    opacity: .8;
    transform: scale(1.2);
}

button:active{
    transform: scale(1);
}

.Welcome{
    align-items: center;
    font-size: 40px;
    justify-content: center;
    margin: 0;
}

.Title, .Genre, .Director{
    font-weight: bold;
    top: 30%;
}

.Description{
    font-style: italic;
    font-weight: bold;
}

.MovieView{
    text-align: left;
    line-height: 2;
    margin: 100px ;
}

.MovieImg{
    border-radius: 20px;
    margin-right: 20px;
    height: 400px;
    width: 275px;
    float: left;
}

.MovieCard-grid{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    gap: 20px 10px;

    margin: 10px 15%;

    z-index: 1;
}

.MovieCard{
    font-weight: bolder;

    height: 50px;
    width: 100%;
    border-radius: 20px;
    border-right: solid black 4px;
    border-left: solid black 4px;

    box-shadow: 10px 5px 5px black;

    color: black;
    background: white;

    z-index: 1;

    display: relative;
}

.MovieCard-Preview-Container {
    justify-content: center;
    align-items: center;
}

.MovieCard-Preview{
    position: fixed;
    display: none;

    justify-content: center;
    width: 15%;
    height: 50%;

    border-radius: 20px;

    opacity: 0;

    transition: opacity .5s;

}

.MovieCard:hover + .MovieCard-Preview-Container .MovieCard-Preview{
    display: block;

    opacity: 1;

    z-index: 9999;

    box-shadow: 20px 5px 5px black;
}





