$primary: rgb(255, 230, 0);
$body-bg: Honeydew;

@import '~bootstrap/scss/bootstrap.scss';

$color: steelblue;



.jeri-flix{
    color: $color;
}

.login-form{
    margin: 20px 0;
}


body{
    background-image: linear-gradient(
        to right, 
        rgba(255, 0, 13, 0.6),
        rgba(38, 146, 189, 0.6),
        rgba(38, 146, 189, 0.6), 
        rgba(38, 146, 189, 0.6),
        rgba(255, 0, 13, 0.6),
    );

    overflow-x: hidden;
}

button{
    transition: all .3s;
    background-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.6),
        rgba(255, 230, 0, 0.822),
        rgba(255, 230, 0, 0.822),
        rgba(255, 230, 0, 0.822),
        rgba(0, 0, 0, 0.6),
    );
}

.directionArrow{
    background-image: none;
}

button:hover{
    cursor: pointer;
    opacity: .8;
    transform: scale(1.2);
    z-index: 10000;
}

button:active{
    transform: scale(1);
}

.profile-title{
    text-align: center;
}

.movieCard {
    transform: none;
}

#movielist{
    overflow-x: scroll;
    scroll-behavior: auto;
    overflow: hidden;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 10px solid black;
    border-top: 5px solid black;
    background-image: linear-gradient(
        to right,
        black,

        rgba(255, 0, 13, 0.6),
        rgba(255, 0, 13, 0.6),
        rgba(255, 0, 13, 0.6),

        black,
    )
}

#movielist:hover{
    cursor: pointer;
}

.movie-card .image-container {
    position: relative;
}

.movie-card .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
}

.movie-card .image-container:hover .overlay {
    opacity: 1;
}

.movie-card .image-container .overlay .title {
    color: white;
    font-size: 24px;
    transition: opacity 0.5s ease;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.ProfilePicture{
    width: 65%;
    height: auto;
    border-radius: 50%;
}

.PreviewPicture{
    width:65%;
    border-radius:50%;
}

.card-body{
    text-align: center;
    justify-content: center;
}